@using QuizCreator.ViewModels
@model QuizVM
@{
    var title = Model.Quiz.Title;
    ViewData["Title"] = title;
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <hr />
</div>
<article class="container">
    @if(Model.Quiz.Page == 0)
    {
        <form asp-controller="Quiz" asp-action="QuizQuestion">
            <h1>@Model.Quiz.Title</h1>
            <h3>@Model.Quiz.Description</h3>
            <input asp-for="@Model.Quiz.Id" hidden value="@Model.Quiz.Id"/>
            <button name="Page" class="btn btn-outline-dark float-start float-sm-end" type="submit" value="1">Next question -></button>
        </form>
    }
    else if(false)
    {

    }
    else
    {
        <form asp-controller="Quiz" asp-action="QuizQuestion">
            <h1>@Model.Quiz.Questions[Model.Quiz.Page - 1].Q</h1>
            @foreach (var a in @Model.AnswerInputs)
            {
                <input asp-for="@Model.AnswerInputs[a.Key]" name="" type="radio" value="@a.Value">@a.Key
            }
            <input asp-for="@Model.Quiz.Id" hidden value="@Model.Quiz.Id" />
            <button name="Page" class="btn btn-outline-dark float-start float-sm-end" type="submit" value="@(Model.Quiz.Page + 1)">Next question -></button>
        </form>
    }
</article>